src/main/mule/arithmetic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0296b8cd-a27d-4ba9-bd1a-d86da3a81934" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="eb503296-da42-4f24-b436-956d8dbfad5d" file="myconfig-Dev.yaml" />
	<flow name="arithmeticFlow" doc:id="0e8a9f6c-9c9c-4100-a533-d4c975b1a70f" >
		<http:listener doc:name="Listener" doc:id="dc530222-cebf-4a23-a872-29af17c3ac48" config-ref="HTTP_Listener_config" path="/arithmetic"/>
		<logger level="INFO" doc:name="Logger" doc:id="e951b3f1-9464-4c6e-803f-fdcb1864f1b2" message="----------Arithmetic API is invoked-----------"/>
		<set-variable value="#[attributes.queryParams.num1]" doc:name="Set Variable" doc:id="ecd87bca-cf6c-4e02-963d-74ad77b7340c" variableName="num1"/>
		<set-variable value="#[attributes.queryParams.num2]" doc:name="Set Variable" doc:id="dc4b02c5-4afb-4875-86be-c7fd13bc0ab1" variableName="num2"/>
		<ee:transform doc:name="Transform Message" doc:id="dd285aef-d935-412f-96dd-8abf601b7218" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": p('log.message'),
	"addition": (vars.num1 as Number + vars.num2 as Number),
	"subtraction": (vars.num1 as Number - vars.num2 as Number),
	"Multiplication": (vars.num1 as Number * vars.num2 as Number),
	"Division": (vars.num1 as Number / vars.num2 as Number)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c927b5d2-4fae-4186-959b-738282fc622c" message="----------------Successfully completed arithmetic api-------------------"/>
	</flow>
</mule>
